<mat-nav-list>
    <div class="logo py-4">
      <img src="./../../../assets/icon/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <br>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
       Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/workout">
       Workout Plan
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/goalhome">
      Goals
      </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/exertracking">
      Exercise Tracking
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/recommendations">
    Recommendations
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
      Workout History
    </a>
  </mat-nav-list>
  
