button {
    display: block;
    margin-top: 10px;
}

.cal-detail small {
    text-align: center;
    display: block;
    background-color: beige;
}

.cal-detail #title {
    background-color: azure;
}

img {
    max-width: 172px;
    margin-top: 5px;
}



