<main style="height: 100vh; flex-direction: column;" class="d-flex justify-content-center align-items-center">
    <div> 
        <img class="pagenotfound" src="assets/images/pagenotfound_dumbbell.png" alt="pagenotfound_dumbbell" />
    </div>
    <h1>Page Not Found</h1>
    <!-- <a routerLink="">Go to Register</a>
    <a routerLink="/login">Go to Login</a> -->

    <p>Go to <span class="link" (click)="goToRegister()"> Register </span> </p>
    <p>Go to <span class="link" (click)="goToLogin()"> Login </span> </p>
</main>