
  
      <div class="container-fluid page">
        <div class="d-flex page__box p-3">Goals Tracker</div>
        <div class="page__content shadow p-3 position-relative">
  
              <div>
                  <h3>You can Track The Workouts by Setting Your Goals</h3>
                  <div *ngFor="let data of dataArray">
                    <h6 *ngIf="data.Swiminput" >You spent {{data.Swiminput}} minutes for swimming</h6>
                    <h6 *ngIf="data.Cycleinput">You spent {{data.Cycleinput}} minutes for Cycling</h6>
                    <h6 *ngIf="data.Yogainput">You spent {{data.Yogainput}} minutes for doing Yoga</h6>
                    <h6 *ngIf="data.Exerciseinput">You spent {{data.Exerciseinput}} minutes for doing Exercises</h6>
                    <h6 *ngIf="data.Runinput">You spent {{data.Runinput}} minutes for Running</h6>
                  </div>
                  <button (click)="displaychart()" style="border-radius: 8px;">Track</button>
                  <br>
                  <div>
                    <div style="height: 500px; width: 700px;">
                      <canvas id="myChart"></canvas>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>

  
