
    <div class="container-fluid page">
      <div class="d-flex page__box p-3">Workout Plan</div>
      <div class="page__content shadow p-3 position-relative"></div>
      <div [ngSwitch]="show" class="d-flex flex-column page__content shadow position-relative"
        style="min-height: calc(100vh - 162px);">

        <div id="page_header" class="text-center" >
          <button style="float:left;" class="btn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div *ngSwitchCase="'btns'">
            <button class="btn" >Create Workout</button>
          </div>
        </div>
        
        <br width="100%"><br>
        <div class="container w-50" style="font-size: small; ">
          <table *ngIf="!isOpen" mat-table [dataSource]="ds" class="table table-primary d-table-row">
            <ng-container matColumnDef="workoutName">
              <th mat-header-cell *matHeaderCellDef> Workout Name </th>
              <td mat-cell *matCellDef="let element"> {{element.workoutName}} </td>
            </ng-container>

            
            <ng-container matColumnDef="exercise">
              <th mat-header-cell *matHeaderCellDef> Exercises</th>
              <td mat-cell *matCellDef="let element"> {{element.exercise}} </td>
            </ng-container>


            <ng-container matColumnDef="addWorkout">
              <th mat-header-cell *matHeaderCellDef> Add to history </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="showDiv(element)">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <div id="fitness-content" [style.display]="isOpen?'flex' : 'none'">
            <div id="fitness-header">
              <div id="span" (click)="closeDiv()" class="close-fitness">&times;</div>
              <h2>Add Workout</h2>
            </div>
            <div id="fitness-body">
              <form #workoutForm="ngForm" (ngSubmit)="AddToHistory(workoutForm.value)">
                <div class="form-group">
                  <label for="exerciseType">Exercise Type*</label>
                  <select id="exerciseType" name="exerciseType" required [(ngModel)]="exerciseType">
                    <option value="" disabled>Select exercise type</option>
                    <option *ngFor="let item of dataList" [value]="item">{{ item }}</option>
                  </select>
                  <div *ngIf="workoutForm.controls['exerciseType']?.invalid && (workoutForm.controls['exerciseType']?.dirty || workoutForm.controls['exerciseType']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['exerciseType']?.errors?.['required']">Exercise Type is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="sets">Sets*</label>
                  <input type="number" id="sets" name="sets" placeholder="Enter no of sets" required [(ngModel)]="sets">
                  <div *ngIf="workoutForm.controls['sets']?.invalid && (workoutForm.controls['sets']?.dirty || workoutForm.controls['sets']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['sets']?.errors?.['required']">Sets is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="reps">Reps*</label>
                  <input type="number" id="reps" name="reps" placeholder="Enter no of reps" required [(ngModel)]="reps">
                  <div *ngIf="workoutForm.controls['reps']?.invalid && (workoutForm.controls['reps']?.dirty || workoutForm.controls['reps']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['reps']?.errors?.['required']">Reps is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="weight">Weight(kg)*</label>
                  <input type="number" id="weight" name="weight" placeholder="Enter your weight" required [(ngModel)]="weight">
                  <div *ngIf="workoutForm.controls['weight']?.invalid && (workoutForm.controls['weight']?.dirty || workoutForm.controls['weight']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['weight']?.errors?.['required']">Weight is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="duration">Duration(hrs/min)*</label>
                  <input type="time" id="duration" name="duration" placeholder="Enter the Duration of workout" required [(ngModel)]="duration">
                  <div *ngIf="workoutForm.controls['duration']?.invalid && (workoutForm.controls['duration']?.dirty || workoutForm.controls['duration']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['duration']?.errors?.['required']">Duration is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="date">Date*</label>
                  <input type="date" id="date" name="date" placeholder="Enter the Date of workout" required [(ngModel)]="date">
                  <div *ngIf="workoutForm.controls['date']?.invalid && (workoutForm.controls['date']?.dirty || workoutForm.controls['date']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['date']?.errors?.['required']">Date is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="notes">Notes*</label>
                  <input type="text" id="notes" name="notes" placeholder="Enter Notes" required [(ngModel)]="notes">
                  <div *ngIf="workoutForm.controls['notes']?.invalid && (workoutForm.controls['notes']?.dirty || workoutForm.controls['notes']?.touched)"
                       class="error-message">
                    <span *ngIf="workoutForm.controls['notes']?.errors?.['required']">Notes is required.</span>
                  </div>
                </div>

  
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <input type="submit" value="SUBMIT" [disabled]="workoutForm.invalid">
                </div>
              </form>
              
              
            </div>
            <div [style.display]="isSubmitted?'grid':'none'" id="fitness-footer">
              <h3>Added Successfully!</h3>
            </div>

          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
