
  
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Goal Settings</div>
        <div style="background-color: #746e6f;" class="page__content shadow position-relative">
          <nav>
            <a class="active">Tasks</a>
            
            <a routerLink="./goalsetting">Set Goals</a>
  
            <a routerLink="./achievedgoals">Achieved goals</a>
          </nav>
          <div class="page_container p-4" style="font-size: medium; width: 100%; min-height: calc(100vh - 200px);">
            <div class="">
              <div class="carousel">
                <article class="card">

                  <h2>Running</h2>

                </article>

                <article class="card">

                  <h2>Swimming</h2>

                </article>

                <article class="card">

                  <h2>Walking</h2>

                </article>

                <article class="card">

                  <h2>Cycling</h2>

                </article>

                <article class="card">

                  <h2>Yoga</h2>

                </article>

                <article class="card">

                  <h2>Exercises</h2>
                  
                </article>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
    