<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 ">
        <table class="text-center table table-hover">
            <thead class="">
                <tr>
                    <th>Username</th>
                    <th>Lock Account</th>
                    <th>Set Role</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users">
                    <td>user.name</td>
                    <td>
                        <button class="btn btn-danger" >Activate</button>
                    </td>
                    <td>
                        <select name="role" id="role" class="form-select form-select-sm">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    </div>
</div>