.row-btns {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .custom-container-reg {
    gap: 12px;
    padding: 0% 5% 2% 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .put-in-row {
    display: flex;
    gap: 10px;
  }
  
  .card {
    background-color: rgba(240, 248, 255, 0.799);
    color: rgb(3, 129, 240);
  }
  
  .hint {
    color: rgba(74, 71, 71, 0.667);
  }

  