<header >
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <p class="display-5 text-center fw-bold" style="font-weight: bolder; color: aliceblue; padding: 15px; margin-left: 30px;">
        Fitness Tracker Portal
      </p>
    </div>
    
    <div style="display: flex;">
      <a routerLink="/login"><button  style="margin-left: 10px;" mat-raised-button>Login</button></a>
      <a routerLink="/register"><button  style="margin-left: 10px; margin-right: 20px;" mat-raised-button>Sign Up</button></a>
    </div>
  </div>
  <hr style="font-weight: bolder; color: aliceblue;">
</header>

<main>
  <section class="hero">
    <div class="hero-content">
      <h1 class="title">Achieve Your Fitness Goals</h1>
      <p class="subtitle">Track your progress, get personalized fitness plans, and connect with a supportive community.</p>
      <a routerLink="/register" class="cta-button">Get Started</a>
    </div>
  </section>

  <section class="features">
    <div class="feature-card">
      <i class="fa fa-heartbeat"></i>
      <h2 class="feature-title">Track Your Fitness</h2>
      <p class="feature-description">Effortlessly monitor your daily activities, workouts, heart rate, and more with our advanced fitness tracking technology.</p>
    </div>
    <div class="feature-card">
      <i class="fa fa-line-chart"></i>
      <h2 class="feature-title">Personalized Fitness Plans</h2>
      <p class="feature-description">Get customized fitness plans tailored to your goals, whether it's losing weight, building muscle, or improving endurance.</p>
    </div>
    <div class="feature-card">
      <i class="fa fa-users"></i>
      <h2 class="feature-title">Insights and Analytics</h2>
      <p class="feature-description">Visualize your data through intuitive charts and graphs, identify trends, and pinpoint areas where you can optimize your routines.</p>
    </div>
  </section>
</main>

<footer>
  <p>&copy; 2023 FitTrack. All rights reserved.</p>
</footer>
